.reg-form{
    width: 35%;
    height: 70%;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 28%;
    /* left: 50%; */
    margin-left: 7%;
    /* margin-top: -13%; */
    border-radius: 55px;
    text-shadow: 5px 2px 9px #000000;
    font-family: cursive;
}
  .reg-form:before{
    width: 110%;
    height: 110%;
    content: "";
    position: absolute;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(15px);
  }

