
html, body {margin: 0; height: 100%; overflow: hidden}

.pic{
    height: 100%;
    background: url('../../pics/background.jpg');
    background-position: center;
    background-size: cover;
    
}
.start-shopping{
    box-shadow: 10px 10px 177px 12px rgba(0,0,0,0.75);
    padding: 1em;
    border-radius: 26px;
    border: 1px;
    background: #60A865;
    font-weight: bold;
    color: #ffffff;
    margin: 22em 9em;
}
.start-shopping>div>p{
    font-size: 2em;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}
.start-shopping>div:first-child>p{
    font-family: 'Gloria Hallelujah', cursive;
}
.start-shopping:hover{
    cursor: pointer;
transform: scale(1.1)
}
.start-shopping>p{
    display: initial;
}

.shopping-cart{
    width: 6em;

}
.start-shopping:hover .shopping-cart{
    transform: rotate(25deg);
    /* за онклик ще е готино - изчезва бутон и коликата отива към края на страницата и се отгръща маркета */
    /* animation: shimmy 3s infinite;
    animation-direction: alternate; */
}
/* @keyframes shimmy {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(20px, 50px);
    } */
  /* } */