.cred-form{
    height: 100vh;
    background: url('../../pics/login-register-background.jpg')fixed no-repeat ;
    background-size: cover;
    font-family: cursive;

  }
  .container{
    width: 35%;
    height: 57%;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    /* left: 50%; */
    margin-left: 7%;
    margin-top: -10%;
    border-radius: 55px;
    text-shadow: 5px 2px 9px #000000;
  }
  .container:before{
    width: 110%;
    height: 110%;
    content: "";
    position: absolute;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(15px);
  }
 
  /* form{
    color:white;

    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  } */
  .login{
    width: 75%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 7% 10%;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;

  }
  .login-btn{
    border: 0;
    border-radius: 8px;
    padding-bottom: 0;
    height: 60px;
    font-family: cursive;
    background: green;
    color: white;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    margin: 10% 0;
    box-shadow: 10px 10px 39px -1px rgba(0,0,0,0.75);
  }
  .login-btn:hover{
    background: #C0392B;
    box-shadow: none;

  }
  .login::placeholder{
    color:#fff; 
    font-family: cursive;
  }
  ::placeholder{
      font-weight: bold;
  }
 
 

